img{
    height: auto;
    max-width: 50vh;
    object-fit: contain;
}
.body{
    box-sizing: border-box;
    min-width: 1000px;
}
.page_component{
    display: inline-flex;
    justify-content: center;
    margin: 3rem;
}
.page_component_text{
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    max-width: 40%;
    text-align: center;
}
p{
    font-size: 30px;
    max-width: 90%;
}
.image{
    display: flex;
    justify-content: center;
    align-content: center;
    max-width: 50%;
}