<div class="body">
    <div class="page_component">
        <div class="image"><img src="../../assets/images/447dfa3d8138237d72ce8be8f88cbcda.jpg" alt="no"></div>
        
        <div class="page_component_text">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eligendi, perspiciatis. Incidunt ipsa provident illo error recusandae dolores similique voluptatem qui itaque, officiis, dolore consectetur est culpa! Expedita ex nisi optio!</p>
            <button><a href="">Click</a></button>
        </div>
    </div>
    <div class="page_component">
        <div class="page_component_text">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eligendi, perspiciatis. Incidunt ipsa provident illo error recusandae dolores similique voluptatem qui itaque, officiis, dolore consectetur est culpa! Expedita ex nisi optio!</p>
            <button><a href="">Click</a></button>
        </div>
        <img src="../../assets/images/welcome1.jpeg" alt="no">
    </div>
</div>