<div class="nav_bar">
    <div class="nav_left">
        <h1>Shop</h1>
        <ul>
            <li><button><a>Main</a></button></li>
            <li >
                <div class="categories_dropdown">
                    <button><a>Categories</a></button>
                    <div class="categories" >
                        <a href="" *ngFor="let category of categories">{{category}}</a>
                    </div>
                </div>
                
            </li>
        </ul>
    </div>
    <div>
        <button><a>🛒</a></button>
        <button><a>Account</a></button>
    </div>
</div>
<app-welcome-page></app-welcome-page>